[nz-form] {
    max-width: 600px;
    margin: 0 auto;
    margin-top: 10px !important;
  }

  .phone-select {
    width: 70px;
  }

  .register-are {
    margin-bottom: 8px;
  }

  .app-signup-img {
      margin: 0 auto;
      margin-top: 8% !important;
      display: block;
  }
  p {
      width: 80%;
      margin: 0 auto;
      text-align: center;
      font-size: 17px;
      margin-bottom: 22px;
      color: #767676;
  }